<div id="adminView" ng-init="init()">
 	<div class="head" style="margin-bottom:0px !important">
	 	<div ng-if="user" style="display:inline-block;text-align:right">
	          <p ng-if="user" style="display:inline-block"  class="titleText" ng-click="setPage('employee')">Accessible Scheduling</p>
	    </div>
	    <div ng-if="!user" class="inline" style="width: 50%; margin-left: 25%;margin-bottom:10px"> 
	          <p class="centered titleText">Accessible Scheduling</p>
	    </div>
        <div style="display:inline-block;float:right;margin-top:7px!important;">
        	<div  ng-if="manager" class="navAllign" ng-click="setPage('client')">
       			<i style = "margin-right:5px !important" class="glyphicon glyphicon-user"/>
       			<br>
       			<span class="centered">Clients</span>
          	</div>
          	<div ng-if="user" class="navAllign" ng-click="setPage('employee')">
       			<i style = "margin-right:5px !important" class="glyphicon glyphicon-plus-sign"/>
       			<br>
       			<span class="centered">Staff</span>
          	</div>
          	<div ng-if="admin" class="navAllign" ng-click="setPage('scheduler')">
       			<i style = "margin-right:5px !important" class="glyphicon glyphicon-dashboard " />
       			<br>
       			<span class="centered">Scheduler</span>
          	</div>
			<div ng-if="admin" class="navAllign" ng-click="setPage('alerts')">
       			<i style = "margin-right:5px !important" class="glyphicon glyphicon-bell"/>
       			<br>
       			<span class="centered">Alerts</span>
          	</div>
			<div ng-if="admin" class="navAllign" ng-click="setPage('settings')">
       			<i style = "margin-right:5px !important" class="glyphicon glyphicon-cog"/>
       			<br>
       			<span class="centered">Settings</span>
          	</div>
  			<div  ng-if="loggedIn()" class="navAllign" ng-click="signOut();setPage('login');">
       			<i style = "margin-right:10px !important" class="glyphicon glyphicon-log-out"/>
       			<br>
       			<span class="centered">Sign out</span>
          	</div>
       	</div>
    </div>
    <div class="row">
        <div ng-include src="'templates/util/status.html'"></div>
    </div>

    <div class="row multi-columns-row">
        <div ng-include src="page"></div>
    </div>
</div>
