<div id="adminView" ng-init="init()">
 	<div class="head">
 	<div style="display:inline-block;text-align:right">
          <p style="display:inline-block"  class="titleText" ng-click="setPage('scheduler')">Accessible Scheduling</p>
          </div>
	        <div style="display:inline-block;float:right;margin-top:15px!important;">
	        	<div class="navAllign">
	       			<i class="glyphicon glyphicon-user navIcon" ng-click="setPage('client')"/>
        			<br>
        			<span class="centered">Clients</span>
	          	</div>
	          	<div class="navAllign">
	       			<i class="glyphicon glyphicon-plus-sign navIcon" ng-click="setPage('employeeList')"/>
        			<br>
        			<span class="centered">Staff</span>
	          	</div>
	          	<div class="navAllign">
        			<i class="glyphicon glyphicon-align-justify navIcon" ng-click="setPage('shiftList')"/>
        			<br>
        			<span class="centered">Shifts</span>
	          	</div>
	          	<div class="navAllign">
        			<i class="glyphicon glyphicon-dashboard navIcon" ng-click="setPage('scheduler')"/>
        			<br>
        			<span class="centered">Scheduler</span>
	          	</div>
				<div class="navAllign">
        			<i class="glyphicon glyphicon-cog navIcon" ng-click="setPage('settings')"/>
        			<br>
        			<span class="centered">Settings</span>
	          	</div>
          	</div>
      </div>
    <div class="row">
        <div ng-include src="'templates/util/status.html'"></div>
    </div>

    <div class="row multi-columns-row">
        <div ng-include src="page"></div>
    </div>
</div>
