<div class="modal-header">
    <h3 ng-show="shiftAction === 'add'">Add a shift</h3>
    <h3 ng-show="shiftAction === 'update'">Edit a shift</h3>
</div>
<div class="modal-body">
    <form name="shiftForm" role="form">
    	<div ng-if="shift.eventName">
    		<label style="font-size:25px">Event Name:</label>
    		<label  style="font-size:23px">{{shift.eventName}}</label>
    	</div>
    	
        <div ng-if="!shift.eventName" class="form-group has-feedback" ng-class="{'has-warning': shiftForm.clientName.$invalid, 'has-success': shiftForm.clientName.$valid}">
            <label for="clientName" style="font-size:25px">Client Name:</label>
            <label  style="font-size:23px">{{shift.clientName}}</label>
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-warning-sign': shiftForm.clientName.$invalid, 'glyphicon-ok': shiftForm.clientName.$valid}"></span>
        </div>
        
       <div class="inline">
            <label class = "inline" for="staffName" style="font-size:25px">Staff Name</label>
            
            <select  ng-if="showEmployee" 
            		name="mySelect" 
            		id="mySelect"
            		class="inline"
            		style="font-size:23px"
            		ng-change="isValid(shift)"
            		ng-init = "selectedEmployee"
      				ng-options="employee.first for employee in employees | orderBy:'first' track by employee.id"
      				ng-model="selectedEmployee"
      				ng-value="{{employee.first}}">		
      			{{employee.first}}
      		</select>
	        <span ng-click="clearSelectedEmployee()" style="font-size:23px" class="inline red glyphicon glyphicon-ban-circle"></span>      				
            <input type="text" ng-hide="true" id="staffId" name="staffId" ng-model="shift.staffId" ng-value="shift.staffId=employee.id">
            <input type="text" ng-hide="true" id="staffName" name="staffName" ng-model="shift.staffName" ng-value="shift.staffName=employee.first">
        </div>
        

        
        <div ng-if="shift.clientId|| shiftAction==='update'">
	        <div>
	            <label for="startDate" style="font-size:25px">Start Date/Time</label>
	            <input  style="font-size:23px" id="start" ng-change="isValid(shift)" type="date" ng-model="shift.startDate" placeholder="Date" required/>
	            <input  style="font-size:23px" type="time" ng-change="isValid(shift)" ng-model="shift.startTime" required>
	        </div>
	        
	        <div>
	            <label for="endDate" style="font-size:25px">End Date/Time</label>
	            <input  style="font-size:23px" id="end" ng-change="isValid(shift)" type="date" ng-model="shift.endDate" placeholder="Date" required/>
	            <input style="font-size:23px" type="time"  ng-change="isValid(shift)" ng-model="shift.endTime" required>
	        </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="ok" class="btn btn-primary btn-md" ng-show="valid" ng-click="ok()">OK</button>
    <button class="btn btn-warning btn-md active" ng-click="cancel()">Cancel</button>
</div>
