<div class="modal-header">
    <h3 ng-show="shiftRequestAction === 'add'">Add a Single Shift Request</h3>
    <h3 ng-show="shiftRequestAction === 'update'">Edit a Single Shift Request</h3>
</div>

<div class="modal-body">
    <form name="shiftRequestForm" role="form">
        <div ng-if="selectedClient">
    	    <label for="clientName" style="font-size:18px">Client Name:</label>
    	    <label for="clientName" style="font-size:16px">{{selectedClient.first}}</label>
        </div>
        
        <div>
            <label for="fixedStaff" style="font-size:18px">Request Staff Member</label>
            <input ng-click="selectedEmployee = null" type="checkbox" id="fixedStaff" name="fixedStaff" style="height:20px;width:20px"  ng-model="shiftRequest.requestEmployee">
        </div>
        
        <div ng-if="shiftRequest.requestEmployee" class="form-group has-feedback" ng-class="{'has-warning': recurringShiftNeedForm.staffName.$invalid, 'has-success': recurringShiftNeedForm.staffName.$valid}">
            <label for="staffName" style="font-size:16px">Staff Name</label>
            
            <select name="mySelect" 
            		id="mySelect"
            		ng-init = "selectedEmployee"
      				ng-options="employee.first for employee in employees | orderBy:'first' track by employee.id"
      				ng-model="selectedEmployee"
      				ng-value="{{employee.first}}">
      			{{employee.first}}
      		</select>
      				
            <input type="text" ng-hide="true" id="staffId" name="staffId" ng-model="shiftRequest.staffId" ng-value="shiftRequest.staffId=selectedEmployee.id">
            <input type="text" ng-hide="true" id="staffName" name="staffName" ng-model="shiftRequest.staffName" ng-value="shiftRequest.staffName=selectedEmployee.first">
        </div>
        
        <div>
            <label for="startDate" style="font-size:18px">Start Date/Time</label>
            <input type="date" ng-model="shiftRequest.startDate" placeholder="Date" ng-required/>
            <input type="time" ng-model="shiftRequest.startTime">
        </div>
        
        <div>
            <label for="endDate" style="font-size:18px">End Date/Time</label>
            <input type="date" ng-model="shiftRequest.endDate" placeholder="Date" ng-required/>
            <input type="time" ng-model="shiftRequest.endTime">
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary btn-md active" ng-click="ok()" >OK</button>
    <button class="btn btn-warning btn-md active" ng-click="cancel()">Cancel</button>
</div>
