<div class="modal-header">
    <h3>Fix a Shift Issue</h3>
</div>

<div class="modal-body">
    <form name="shiftIssueForm" role="form">
        <div>
    	    <label for="descriptionLabel" style="font-size:18px">Issue:</label>
    	    <label for="description" style="font-size:16px">{{selectedIssue.description}}</label>
        </div>
        
        <div>
    	    <label for="clientLabel" style="font-size:18px">Client:</label>
    	    <label for="client" style="font-size:16px">{{selectedIssue.client}}</label>
        </div>
        
        <div>
    	    <label for="employeeLabel" style="font-size:18px">Employee:</label>
    	    <label for="employee" style="font-size:16px">{{selectedIssue.employee}}</label>
        </div>
        
        <div>
    	    <label for="dateLabel" style="font-size:18px">Date:</label>
    	    <label for="date" style="font-size:16px">{{selectedIssue.date}}</label>
        </div>
        
        <div>
    	    <label for="timeLabel" style="font-size:18px">Time:</label>
    	    <label for="time" style="font-size:16px">{{selectedIssue.time}}</label>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary btn-md active" ng-show="valid" ng-click="ok()" >Find Staff</button>
    <button class="btn btn-warning btn-md active" ng-click="cancel()">Cancel</button>
</div>
