<div class="modal-header">
    <h3 ng-show="shiftAction === 'add'">Add a shift</h3>
    <h3 ng-show="shiftAction === 'update'">Edit a shift</h3>
</div>
<div class="modal-body" ng-init="getAssignable(shift)">
    <form name="shiftForm" role="form">
    	<div ng-if="shift.eventName">
    		<label style="font-size:25px">Event Name:</label>
    		<label  style="font-size:23px">{{shift.eventName}}</label>
    	</div>
    	
        <div ng-if="!shift.eventName" class="form-group has-feedback" ng-class="{'has-warning': shiftForm.clientName.$invalid, 'has-success': shiftForm.clientName.$valid}">
            <label for="clientName" style="font-size:25px">Client Name:</label>
            <label  style="font-size:23px">{{shift.clientName}}</label>
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-warning-sign': shiftForm.clientName.$invalid, 'glyphicon-ok': shiftForm.clientName.$valid}"></span>
        </div>
        
         <div class="form-group has-feedback" ng-class="{'has-warning': recurringShiftNeedForm.staffName.$invalid, 'has-success': recurringShiftNeedForm.staffName.$valid}">
            <label for="staffName" class="inline" style="font-size:25px">Staff Name</label>
            <select name="mySelect" 
                    id="mySelect"
                    class="inline"  
                    style="font-size:23px"
                    ng-change="isValid(shift)"
                    ng-init = "selectedEmployee"
                    ng-options="employee.name for employee in employees | orderBy:'name' track by employee.id"
                    ng-model="selectedEmployee"
                    ng-value="{{employee.name}}">
                {{employee.name}}
            </select>
            <span ng-click="clearSelectedEmployee()" style="font-size:23px" class="inline red glyphicon glyphicon-ban-circle"></span>                   
            <input type="text" ng-hide="true" id="staffId" name="staffId" ng-model="shift.staffId" ng-value="shift.staffId=selectedEmployee.id">
            <input type="text" ng-hide="true" id="staffName" name="staffName" ng-model="shift.staffName" ng-value="shift.staffName=selectedEmployee.name">
        </div>
        
        <div ng-if="shift.clientId|| shiftAction==='update'">
	        <div>
	            <label for="startDate" style="font-size:25px">Start Date/Time</label>
	            <input  style="font-size:23px" id="start" ng-change="isValid(shift)" type="date" ng-model="shift.startDate" placeholder="Date" required/>
	            <input  style="font-size:23px" type="time" ng-change="isValid(shift)" ng-model="shift.startTime" required>
	        </div>
	        
	        <div>
	            <label for="endDate" style="font-size:25px">End Date/Time</label>
	            <input  style="font-size:23px" id="end" ng-change="isValid(shift)" type="date" ng-model="shift.endDate" placeholder="Date" required/>
	            <input style="font-size:23px" type="time"  ng-change="isValid(shift)" ng-model="shift.endTime" required>
	        </div>
        </div>
        
        <div>
        	<h3>Notes:</h3>
        	<textarea ng-change="isValid(shift)" ng-model="shift.employeeNotes" rows="7" cols="75"/>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="okEmployeeButton" ng-class="{ disabledButton: isAssignDisabled(shift) }" ng-click="assign(shift)">Assign</button>
    <div style="float:right" class="rightAlign">
	    <button ng-show="valid"  class="rightAlign inline okEmployeeButton" ng-click="ok()" >OK</button>
	    <button class="rightAlign  inline cancelEmployeeButton" style="margin-left:10px" ng-click="cancel()">Cancel</button>
	</div>
</div>
