<div id="header" ng-controller="InfoController">
    <nav class="head" role="navigation">
        <div>
            <div style="display:inline-block" class="">
           	 	<i style="display:inline-block" class="glyphicon glyphicon-home micon"></i>
                <p style="display:inline-block"  class="titleText">Accessible Scheduling</p>
                 <!--<ul class="navbar-nav">
                   <li></li>
                </ul>-->
            </div>
<!-- 
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-info-sign icon-white"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a><strong>Profiles:</strong> {{info.profiles.join()}}</a></li>
                        <li><a><strong>Services:</strong> {{info.services.join()}}</a></li>
                       <li><a><strong>Version:</strong> 0.1.14</a></li>
                    </ul>
                </li>
            </ul> -->
        </div>
    </nav>
</div>
