html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#body {
    padding-top: 10px;
}

.navbar {
   background-color: #6a0000;
    border: 0;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 20px;
}
/* button recolor */
.nav-pills > li.active > a, .btn-primary {
  background-color: #6C6C6C !important;
  // feeling like it's a rounded corners kind of day
  border-color: #6C6C6C !important;
  border-radius: 25px; 
}
.navbar .container {
    
}

.signUpButton{
	font-size: 25px;
    margin-left: 40% !important;
    width: 20%;
}
.availabilityTile{
    float:right;
    margin: 5px;
    /*width: 345px;*/
    align-content: center;
    text-align: center;
    padding: 10px;
    background-color: #d3d7cf;

    border-radius: 25px; 
}


.inline{
	display: inline-block;
}

.nameInput{
	font-size:38px;
	width:300px;
}
.leftAlign{
	margin-right:auto;
	margin-left:0;
	text-align:left;
}
.rightAlign{
	margin-left:auto;
	margin-right:0;
	text-align:right;
}

.scheduleButton{
	font-size: 35px;
	margin-left:20px;
    margin-right:20px;
    width: 245px;
}

.scheduleButton.disabled {
  opacity: 0.55; 
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: none;
}

.trash{
	margin-top:6px;
}
.yellow{
	color:#E8CF5D;
}
.red{
	color: #6a0000;
}
.purple{
	background-color: #794B6B;
	border-color: #794B6B;
}
.green{
	color: #6EB262;
}
.greenBackground{
	background-color: #6EB262;
}
.orange{
	background-color: #9E2F20;
	border-color: #9E2F20;
	
}
.errored{
	border-color: #9E2F20!important;
	background-color: #9E2F20!important;
	color: white;
	border-radius: 25px; 
	font-size: 30px;
	margin-left:20px;
    margin-right:20px;
	padding: 15px;
	 width: 230px;
}

.deleteButton{
	border-color: #9E2F20!important;
	background-color: #9E2F20!important;
	color: white;
	text-align: center;
	font-size:35px;
}

.deleteClientButton{
	width: 180px;
    margin-right: auto;
	margin-left:15%;
    font-size: 30px;
    float: left;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #9E2F20;  		
}

.assignable{
    background-color: #6EB262 !important;  		
}

.disabledButton {
  opacity: 0.55; 
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: none;
  background-color: #d3d7cf!important;  		
}

.assignButton{
    float: left;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 6px;
    background-color: #6EB262;  		
}
.okClientButton{
	width: 90px;
    margin-right: 0px;
	margin-left:auto;
    font-size: 30px;
    float: left;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: #6EB262;  		
}
.cancelClientButton{
	width: 180px;
    margin-right: 0px;
	margin-left:auto;
    font-size: 30px;
    float: left;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: #E8CF5D;  		
}

.deleteEmployeeButton{
  width: 180px;
    margin-right: auto;
  margin-left:15%;
    font-size: 30px;
    float: left;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #9E2F20;      
}
.okEmployeeButton{
    margin-right: 0px;
  margin-left:auto;
    font-size: 30px;
    float: left;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: #6EB262;      
}
.cancelEmployeeButton{
  width: 180px;
    margin-right: 0px;
  margin-left:auto;
    font-size: 30px;
    float: left;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: #E8CF5D;      
}

.scheduleOptions{
	text-align: right;
	margin-right:25px;
}

.scheduler{
	vertical-align: top;
	text-align: center;
	margin-left: auto;
  margin-right: auto;
}

.complete{
	border-color: #6EB262!important;
	background-color: #6EB262!important;
	verticle-allign:baseline;
}

.incomplete{
	background-color: #E8CF5D;
	border-color: #E8CF5D;
	border-radius: 25px; 
	font-size: 30px;
	margin-left:20px;
    margin-right:20px;
	padding: 15px;
 	width: 230px;
}

.completion{
	vertical-align: text-bottom;
	 width: 120px;
	 height: 50px;
}
.scheduled{
	background-color: #6EB262;
	border-color: #6EB262;
	border-radius: 25px; 
	font-size: 25px;
	 width: 120px;
}
.unscheduled{
	background-color: #d3d7cf;
	border-color: #d3d7cf;
	border-radius: 25px; 
	font-size: 25px;
	 width: 120px;
}
.loginPage{
	background-color: #6a0000;
	font-size: 50px;
	color: white !important;
	 text-align: center;
	margin-left: auto;
  	margin-right: auto;
  	 margin: 0 auto;
}

.titleText{
	background-color: #6a0000;
	font-size: 40px;
	color: white !important;
	margin-left:15px;
}
.active{
	background-color: #729fcf!important;
	 border-color: #729fcf!important;
}
.activeSecondary{
	background-color: #794B6B!important;
	 border-color: #794B6B!important;
}

.working{
	background-color: #E8CF5D!important;
	 border-color: #E8CF5D!important;
 	 border-radius: 25px; 
 	 padding-left:20px;
    padding-right:20px;
}

.stopping{
	background-color: #9E2F20!important;
	 border-color: #9E2F20!important;
 	 border-radius: 25px; 
 	 padding-left:20px;
    padding-right:20px;
}

.generated{
	background-color: #E8CF5D!important;
	 border-color: #E8CF5D!important;
 	 border-radius: 25px; 
 	 padding-left:20px;
    padding-right:20px;
}

.assigned{
	background-color: #6EB262!important;
	 border-color: #6EB262!important;
 	 border-radius: 25px; 
 	 padding-left:20px;
    padding-right:20px;
}

.head{
	background-color: #6a0000;
    border: 0;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 30px;
    font-size: 20px;
    color: white;
}
.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.btn {
    background-color: white;
}

.modal-dialog{
	width:85% !important;
}
.app-modal-window .modal-dialog {
  width: 85% !important;
}

.requestBody{
  width: 65%;
}
.dayCheckbox{
	margin-left:7px !important;
	margin-right:auto;
}
.daySelector{
	display:inline-block;
	width:55px;
}
.micon {
     font-size:30px;
     margin-left:30px;
}

.employeeRecTab{
   background-color: #d3d7cf;
  border-color: #6C6C6C ;
  color: black;
    margin-top: 15px;
    font-size:30px;
    width:175px !important;
}
.recTab{
	 background-color: #d3d7cf;
  border-color: #6C6C6C ;
  color: black;
    margin-top: 15px;
    font-size:35px;
    padding-left:49px;
    padding-right:49px;
}

.weekPicker{
	margin-left:30%;
 	font-size:35px;
 	width:40%;
}

.changeWeek{
	font-size:30px;	
}

.newEmployeeTab{
   background-color: #6EB262;
  border-color: #6EB262;
  color: black;
    margin-bottom: 17px;
    margin-top: 15px;
    
  border-radius: 25px; 
    font-size:28px;
    padding-left:20px;
    padding-right:20px;
}

.newClientTab{
	 background-color: #6EB262;
  border-color: #6EB262;
  color: black;
    margin-bottom: 17px;
    margin-top: 15px;
    
  border-radius: 25px; 
    font-size:28px;
    padding-left:20px;
    padding-right:20px;
}
.employeeTab{
   background-color: #d3d7cf;
  border-color: #6C6C6C ;
  color: black;
    margin-bottom: 17px;
    margin-top: 15px;
    
  border-radius: 25px; 
    font-size:35px;
    padding-left:20px;
    padding-right:20px;
}
.clientTab{
	 background-color: #d3d7cf;
  border-color: #6C6C6C ;
  color: black;
    margin-bottom: 17px;
    margin-top: 15px;
    
  border-radius: 25px; 
    font-size:35px;
    padding-left:20px;
    padding-right:20px;
}
.myTab{
	 background-color: #d3d7cf;
  border-color: #6C6C6C ;
  border-radius: 25px; 
  color: black;
  margin-left:20px;
    margin-right:20px;
    margin-bottom: 17px;
    margin-top: 15px;
    font-size:35px;
    padding-left:20px;
    padding-right:20px;
    width: 110px;
}

.availableWeekDay{
  width:100%;
  margin-right: 5px;
  float:right;
	font-size:25px;	
}
.weekDay{
  font-size:25px; 
}
}
.addShift{
    margin-right: 0px;
	margin-left:auto;
    font-size: 30px;
    float: right;
    color: black;
    text-align: center;
    background-color: #6EB262; 		
    padding:5px;
    width:150px;		
}

.shift{
	 background-color: #d3d7cf;
  border-color: #d3d7cf;
  border-radius: 25px; 
  color: black;
  margin-left:20px;
    margin-bottom: 17px;
    margin-top: 15px;
    font-size:30px;
    padding-left:20px;
    padding-right:20px;
    width: 97%;
}

.mycon{
   font-family: 'Glyphicons Halflings';
   font-style:normal;
    -webkit-font-smoothing: antialiased;
}
.newRequestExceptionButton{
    background-color: #6EB262;
    font-size: 23px;
    text-align: center;
}
.newShiftButton{
	background-color:#6EB262;
	font-size:30px;
	width: 200px;
	text-align:center;
	float:right; 
	margin-right:0px
}

.employeeDetails{
  font-size:26px;
}
.request{
	 background-color: #d3d7cf;
  border-color: #d3d7cf;
  border-radius: 25px; 
  color: black;
  margin-left:20px;
    margin-bottom: 17px;
    margin-top: 15px;
    font-size:35px;
    padding-left:20px;
    padding-right:20px;
    width: 97%;
}

.navIcon{
	margin-left:30px !imporant;
}
.navAllign{
	display:inline-block;
	vertical-align: middle;
	text-align: center;
  	margin-left: 5px!important;
  	margin-right: 5px!important;
}
.centered{
	 text-align: center;
	margin-left: auto;
  	margin-right: auto;
  	 margin: 0 auto;
}
