<div ng-controller="AlertsController" ng-init="listAlerts()">
	<div ng-if="user" style="display:inline-block;width:97%">
		<h2 class="centered">Requests from staff can be handled below.</h2> 
		<div ng-repeat="alert in alerts">
			<div class = "shift">
				<span ng-click="" style="display:inline-block">
					Access requested: {{alert.name}}
				</span>
				<div ng-init="listEmployees()" class="inline rightAlign form-group has-feedback" ng-class="{'has-warning': recurringShiftNeedForm.staffName.$invalid, 'has-success': recurringShiftNeedForm.staffName.$valid}">
		            <label for="staffName" class="inline" style="font-size:25px">Staff Name</label>
		            <select name="mySelect" 
		                    id="mySelect"
		                    class="inline"  
		                    style="font-size:23px"
		                    ng-change="isValid(shift)"
		                    ng-init = "selectedEmployee"
		                    ng-options="employee.first for employee in employees | orderBy:'first' track by employee.id"
		                    ng-model="selectedEmployee"
		                    ng-value="{{employee.first}}">
		                {{employee.first}}
		            </select>
		            <span ng-click="assignSelectedEmployee(alert,selectedEmployee)" style="font-size:23px" class="inline green glyphicon glyphicon-ok"></span>                   
		            <input type="text" ng-hide="true" id="staffId" name="staffId" ng-model="shift.staffId" ng-value="shift.staffId=selectedEmployee.id">
		            <input type="text" ng-hide="true" id="staffName" name="staffName" ng-model="shift.staffName" ng-value="shift.staffName=selectedEmployee.first">
		        </div>
			</div>
		</div>
    </div>
    
    <script type="text/javascript" src="js/page/alertsPage.js"></script>
    <script type="text/javascript" src="js/page/mobileEmployeePage.js"></script>
</div>