<div ng-controller="MobileClientController" ng-init="listClients()">
	<div style="display:inline-block;width:100%">
	 	<div style="display:inline-block;width:25%">
			<ul>
				<div style="overflow-y:auto;height:82vh" class="monthSelector">
					<div class = "newClientTab">
				    	<div >
				       		<p ng-click="newClient()"><span class="glyphicon glyphicon-plus"></span>&nbsp;New Client</p>
				    	</div>
			    	</div>
					<div ng-repeat="client in clients" ng-init="setClient(clients[0])">
						<div class = "clientTab" ng-class="{ active: isClientSet(client) }">
					    	<div >
					       		<p ng-click="setClient(client)">{{client.first}} {{client.initial}}</p>
					    	</div>
				    	</div>
			    	</div>
		    	</div>
	    	</ul>
	   	</div>
	   	<div ng-if="isClientSet(client)" style="display:inline-block; vertical-align: top; width:72%;height:82vh">
			<div style="width:100%;text-align: center;">
				<div style="display:inline-block" class = "recTab" ng-class="{ active: isSet('Schedule') }">
			    	<div >
			       		<p ng-click="setTab('Schedule')">Schedule</p>
			    	</div>
		    	</div>
		    	<div style="display:inline-block;" class = "recTab" ng-class="{ active: isSet('Requests') }">
			    	<div >
			       		<p ng-click="setTab('Requests')">Requests</p>
			    	</div>
		    	</div>
		    	<div style="display:inline-block;" class = "recTab" ng-class="{ active: isSet('Details') }">
			    	<div >
			       		<p ng-click="setTab('Details')">Details</p>
			    	</div>
		    	</div>
	    	</div>
	    	<br>
	    	<div ng-if="isSet('Schedule')" style="width:100%">
	    		<div ng-init="listShifts()">
		    		
		    		<h2 class = 'centered' style="width:600px">~ Mon.AB - Mon.XY ~</h2>
		    		<h4 class='rightAlign'>Sunday</h4>
		    		<h4 class='rightAlign'>Monday</h4>
		    		<h4 class='rightAlign'>Tuesday</h4>
		    		<h4 class='rightAlign'>Wednesday</h4>
	    		</div>
	    	</div>
	    	<div overflow-y:auto; ng-if="isSet('Requests')">
	    		<p  class="inline" style="font-size:40px;margin-left:10px"> {{client.first}} {{client.initial}}</p>
	    		<button  class="inline rightAlign" style="font-size:30px;float:right; margin-right:20px" ng-click="addRequest(client,employees)"><span class="glyphicon glyphicon-plus"></span>Create new Request</button>
	    		<h2 style="margin-left:10px"> Existing Requests</h2>
				<div ng-repeat="request in requests">
					<div ng-init="setInitialDays(request)" class = "request">
						<span ng-click="editRequest(request,client,employees)" style="display:inline-block;width:94%" ng-init="getDisplayValue(request)">{{request.displayValue}}</span>
						<span ng-click="deleteShiftRequest(request)" style="display:inline-block;float:right" class="glyphicon inline red trash glyphicon-trash"></span>
			    	</div>
		    	</div>
	    	</div>
	    	<div ng-if="isSet('Details')" class = 'rightAlign'>
	    		<form name="clientForm" role="form" style="margin-right:24%">
			        <div>
			            <label for="first" class="inline" style="font-size:38px">First</label>
			            <input ng-change="setDetailsToChanged()" type="text" class="form-control inline input-large rightAlign nameInput" id="first" name="first" required ng-model="client.first">
			        </div>
			        
			        <div>
			            <label for="initial" class="inline" style="font-size:38px">Initial</label>
			            <input ng-change="setDetailsToChanged()" type="text" class="inline form-control input-large rightAlign nameInput" id="initial" name="initial" required ng-model="client.initial">
			        </div>
			        
			        <div>
			            <label for="preferSigning" style="font-size:38px">Prefers Signing Staff</label>
			            <input ng-change="setDetailsToChanged()" type="checkbox" id="preferSigning" name="preferSigning" style="height:20px;width:20px" ng-model="client.preferSigning">
			        </div>
			        
			        <div>
			            <label for="signingOnly" style="font-size:38px">Only Signing Staff</label>
			            <input ng-change="setDetailsToChanged()" type="checkbox"  id="signingOnly" name="signingOnly" style="height:20px;width:20px" ng-model="client.signingOnly">
			        </div>
			        
			        <div>
			            <label for="smoker" style="font-size:38px">No Smokers</label>
			            <input ng-change="setDetailsToChanged()" type="checkbox" id="smoker" name="smoker" style="height:20px;width:20px" ng-model="client.noSmokers">
			        </div>
			        
			        <div>
			            <label for="ownsCats" style="font-size:38px">Owns Cats</label>
			            <input ng-change="setDetailsToChanged()" type="checkbox" id="ownsCats" name="ownsCats" style="height:20px;width:20px" ng-model="client.ownsCats">
			        </div>
			        
			        <div>
			            <label for="noMaleStaff" style="font-size:38px">No Male Staff</label>
			            <input ng-change="setDetailsToChanged()"  type="checkbox" id="noMaleStaff" name="noMaleStaff" style="height:20px;width:20px" ng-model="client.noMaleStaff">
			        </div>
			        <div>
			            <label for="noFemaleStaff" style="font-size:38px">No Female Staff</label>
			            <input ng-change="setDetailsToChanged()"  type="checkbox" id="noFemaleStaff" name="noFemaleStaff" style="height:20px;width:20px" ng-model="client.noFemaleStaff">
			        </div>
			        
			        <div>
			            <label for="medPass" style="font-size:38px">Med Pass</label>
			            <input ng-change="setDetailsToChanged()"  type="checkbox" id="medPass" name="medPass" style="height:20px;width:20px" ng-model="client.medPass">
			        </div>
			        
				    <div ng-if="customFieldDataEditing">
				        <div ng-repeat="customField in customFields">
			            	<div ng-init="getClientCustomFieldData(client,customField,$index)">
			            		<label for="customField" style="font-size:38px">{{customField.clientVariable}}</label>
			            		<input ng-change="setDetailsToChanged()" type="checkbox" id="customField" name="customField" style="height:20px;width:20px" ng-model="client.customValue[$index]">
			            	</div>
				        </div>
			        </div>
       			    <div style="float:right" class="rightAlign">
					    <button ng-if="isClientChangeValid(client)"  class="rightAlign inline okClientButton" ng-click="ok()" >OK</button>
					    <button ng-if="isClientChangeValid(client)" class="rightAlign  inline cancelClientButton" style="margin-left:10px" ng-click="cancel()">Cancel</button>
				    </div>
			    </form>
			    <br>
			    <br>
			    <br>
			    <br>
			    <br>
			    <br>
  			    <button class="deleteClientButton" ng-click="delete()" >Delete</button>
	    	</div>
		 </div>
    </div>
    
    <script type="text/javascript" src="js/modal/ClientModalController.js"></script>
	<script type="text/javascript" src="js/modal/RequestModalController.js"></script>
    <script type="text/javascript" src="js/component/shiftRequestTable.js"></script>
    <script type="text/javascript" src="js/page/mobileClientPage.js"></script>
</div>