<div class="col-xs-12" ng-controller="ClientsController"  ng-init="list()">
	
	<h2>Clients</h2>
	
 	<span> [sort by: </span>
 		<select name="sortSelect" 
	    		id="sortSelect"
	      		ng-model="sortField"
	      		ng-value="{{sortField}}">
		    <option value='first'>First</option>
		    <option value='initial'>Initial</option>
	    </select>
	    <a href="" ng-click="sortDescending=!sortDescending">
	        <span class="glyphicon" ng-class="{'glyphicon-chevron-up' : !sortDescending, 'glyphicon-chevron-down' : sortDescending}"></span>
	    </a>
        <span> | </span>
        <a href="" ng-click="addClient(customFields)"><span class="glyphicon glyphicon-plus"></span>add a client</a>
    <span> ] </span>
    <table class="table table-striped">
        <thead>
	        <tr>
	            <th></th>
  	            <th>First</th>
	            <th>Initial</th>
	            <th>Prefers Signing</th>
	            <th>Signing Only</th>
	            <th>No Smokers</th>
	            <th>Owns Cats</th>
	            <th>No Male Staff</th>
	            <th>No Female Staff</th>
	            <th>Requires Med Pass</th>
	            <th ng-repeat="customField in customFields">{{customField.clientVariable}}</th>
	            <th ng-if="!customFieldDataEditing">Id</th>
	        </tr>
        </thead>
        <tbody>
	        <tr ng-repeat="client in clients | orderBy:sortField:sortDescending">
	        	<td class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                    <span class="glyphicon glyphicon-cog"></span>
	                </a>
	                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	                    <li role="presentation"><a ng-click="updateClient(client,customFields)">edit</a></li>
	                    <li role="presentation"><a ng-click="scheduleClient(client)">schedule</a></li>
						<li role="presentation"><a ng-click="viewClientShifts(client)">view shifts</a></li>
	                    <li role="presentation"><a ng-click="deleteClient(client)">delete</a></li>
	                </ul>
	            </td>
	            
	            <td>
	                <in-place-edit field-name='first' input-type='text' input-class='input-large' model=client>{{client.first}}</in-place-edit>
	            </td>
	            <td>
	                <in-place-edit field-name='initial' input-type='text' input-class='input-large' model=client>{{client.initial}}</in-place-edit>
	            </td>
	            <td>
	                <in-place-edit field-name='preferSigning' input-type='checkbox' input-class='input-large' model=client>{{client.preferSigning}}</in-place-edit>
	            </td>  
	            <td>
	                <in-place-edit field-name='signingOnly' input-type='checkbox' input-class='input-large' model=client>{{client.signingOnly}}</in-place-edit>
	            </td>
	            <td>
	                <in-place-edit field-name='smoker' input-type='checkbox' input-class='input-large' model=client>{{client.noSmokers}}</in-place-edit>
	            </td>
	            <td>
	                <in-place-edit field-name='ownsCats' input-type='checkbox' input-class='input-large' model=client>{{client.ownsCats}}</in-place-edit>
	            </td>
	            <td>
	                <in-place-edit field-name='noMaleStaff' input-type='checkbox' input-class='input-large' model=client>{{client.noMaleStaff}}</in-place-edit>
	            </td>
	            <td>
	                <in-place-edit field-name='noFemaleStaff' input-type='checkbox' input-class='input-large' model=client>{{client.noFemaleStaff}}</in-place-edit>
	            </td>
	            <td>
	                <in-place-edit field-name='medPass' input-type='checkbox' input-class='input-large' model=client>{{client.medPass}}</in-place-edit>
	            </td>
	            <td ng-repeat="customField in customFields">
	            	<div ng-init="getClientCustomFieldData(client,customField,$index)">
	            		<!-- <in-place-edit input-type='checkbox' input-class='input-large' model=employee>{{employee.customValue[$index]}}</in-place-edit>
	     				-->
	            		{{client.customValue[$index]}}
	            	</div>
	            </td>
	            <td ng-if="!customFieldDataEditing">
	            	{{client.id}}
	            </td>
	        </tr>
        </tbody>
    </table>
    
    <script type="text/javascript" src="js/page/clientsPage.js"></script>
    <script type="text/javascript" src="js/modal/ClientModalController.js"></script>
</div>
