<div ng-controller="DashboardController">
   <div>
  		<div ng-controller="ShiftIssueController" ng-init="list()">
		  <h3>Schedule Health Dashboard</h3><br/>
		  
		  <h4>Shift Issues: Unavailable and Called Off</h4>
<!-- 			<span> [sort by: </span> -->
<!-- 				<select name="sortSelect"  -->
<!-- 			    		id="sortSelect" -->
<!-- 			      		ng-model="sortShiftIssueField" -->
<!-- 			      		ng-value="{{sortShiftIssueField}}"> -->
<!-- 				    <option value=issue>Issue</option> -->
<!-- 				    <option value=client>Client</option> -->
<!-- 		            <option value=staff>Staff</option> -->
<!-- 		        	<option value=date>Date</option> -->
<!-- 		            <option value=time>Time</option> -->
<!-- 			     </select> -->
<!-- 			     <a href="" ng-click="sortDescending=!sortDescending"> -->
<!-- 			        <span class="glyphicon" ng-class="{'glyphicon-chevron-up' : !sortDescending, 'glyphicon-chevron-down' : sortDescending}"></span> -->
<!-- 			    </a> -->
<!-- 		    <span> ] </span> -->
		    <table class="table table-striped">
		        <thead>
			        <tr>
			        	<th></th>
			        	<th>Issue</th>
		        		<th>Description</th>
			        	<th>Client</th>
			        	<th>Staff</th>
			            <th>Date</th>
			            <th>Time</th>            
			        </tr>
		        </thead>
		        <tbody>
			        <tr  ng-repeat="shiftIssue in shiftIssues | orderBy:[sortShiftIssueField,'time']:sortDescending">
			        	<div>
			        		 <td class="dropdown">
				                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    <span class="glyphicon glyphicon-cog"></span>
				                </a>
				                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				                    <li role="presentation"><a ng-click="fixShift(shiftIssue)">fix issue</a></li>
				                </ul>
				            </td>
				            
				            <td>
								{{shiftIssue.description}}
				            </td>
				            <td>
				            	{{shiftIssue.issues[0].description}}
				            </td>
				            <td>
				            	{{shiftIssue.issues[0].shift.clientName}}
				            </td>
				            <td>
				            	{{shiftIssue.issues[0].shift.staffName}}
				            </td>
				            <td>
				            	{{shiftIssue.issues[0].shift.date}}
				            </td>
				            <td>
				            	{{shiftIssue.issues[0].shift.time}}
				            </td>
			            </div>
			        </tr>
		        </tbody>
		    </table>
		  <h4>Upcoming Schedule Issues: Missed Minimum and Maximum hours</h4>
		  <p>Missed minimums ignore partial weeks.</p>
		  <table class="table table-striped">
		        <thead>
			        <tr>
			        	<th></th>
			        	<th>Issue</th>
			        	<th>Staff</th>
			        </tr>
		        </thead>
		        <tbody>
			        <tr  ng-repeat="scheduleIssue in scheduleIssues | orderBy:[sortScheduleIssueField,'staff']:sortDescending">
			        	<div>
			        		 <td class="dropdown">
				                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    <span class="glyphicon glyphicon-cog"></span>
				                </a>
				                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				                    <li role="presentation"><a ng-click="fixSchedule(scheduleIssue)">fix issue</a></li>
				                </ul>
				            </td>
				            
				            <td>
								{{scheduleIssue.description}}
				            </td>
				            <td>
				            	{{scheduleIssue.staff}}
				            </td>
			            </div>
			        </tr>
		        </tbody>
		    </table>
		  
		    <h4>Max Daily Shifts Issues</h4>
		    <table class="table table-striped">
		        <thead>
			        <tr>
			        	<th></th>
			        	<th>Issue</th>
		        		<th>Shifts</th>        
			        </tr>
		        </thead>
		        <tbody>
		        	 <col width="5%">
		        	 <col width="35%">
		        	 <col width="60%">
			        <tr  ng-repeat="dailyNotification in dailyNotifications | orderBy:[sortDailyNotificationField,'description']:sortDescending">
			        	<div>
			        		 <td class="dropdown">
				                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    <span class="glyphicon glyphicon-cog"></span>
				                </a>
				                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				                    <li role="presentation"><a ng-click="fixSchedule()">fix issue</a></li>
				                </ul>
				            </td>
				            
				            <td>
								{{dailyNotification.description}}
				            </td>
				            <td>
				            	<table class="table table-striped">
							        <thead>
								        <tr>
								        	<th></th>
<!-- 								        	<th>Description</th> -->
							        		<th>Date</th>       
							        		<th>Time</th>
							        		<th>Client</th>
							        		<th>Staff</th> 
								        </tr>
							        </thead>
							        <tbody>
								        <tr  ng-repeat="dailyIssue in dailyNotification.issues | orderBy:[sortDailyIssueField,'time']:sortDescending">
								        	<div>
								        		 <td class="dropdown">
									                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
									                    <span class="glyphicon glyphicon-cog"></span>
									                </a>
									                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									                    <li role="presentation"><a ng-click="fixSingleShift(dailyIssue.shift)">fix issue</a></li>
									                </ul>
									            </td>
									            
<!-- 									            <td> -->
<!-- 													{{dailyIssue.description}} -->
<!-- 									            </td> -->
									            <td>
									            	{{dailyIssue.shift.date}}
									            </td>
									            <td>
									            	{{dailyIssue.shift.time}}
									            </td>
									            <td>
									            	{{dailyIssue.shift.clientName}}
									            </td>
									            <td>
									            	{{dailyIssue.shift.staffName}}
									            </td>
								            </div>
								        </tr>
							        </tbody>
							    </table>
				            </td>
			            </div>
			        </tr>
		        </tbody>
		    </table>
		    
		    <h4>Over Max Days Per Week Issues</h4>
		    <table class="table table-striped">
		        <thead>
			        <tr>
			        	<th></th>
			        	<th>Issue</th>
			        	<th>Staff</th>
			        	<th>Week</th>
		        		<th>Shifts</th>        
			        </tr>
		        </thead>
		        <tbody>
		        	<col width="5%">
		        	 <col width="25%">
		        	 <col width="13%">
		        	 <col width="5%">
		        	 <col width="52%">
			        <tr  ng-repeat="weeklyNotification in weeklyNotifications | orderBy:[sortweeklyNotificationField,'staff']:sortDescending">
			        	<div>
			        		 <td class="dropdown">
				                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    <span class="glyphicon glyphicon-cog"></span>
				                </a>
				                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				                    <li role="presentation"><a ng-click="fixSchedule()">fix issue</a></li>
				                </ul>
				            </td>
				            
				            <td>
								{{weeklyNotification.description}}
				            </td>
				            <td>
								{{weeklyNotification.staff}}
				            </td>
				            <td>
								{{weeklyNotification.week}}
				            </td>
				            <td>
				            	<table class="table table-striped">
							        <thead>
								        <tr>
							        		<th>Day</th>       
							        		<th></th>
								        </tr>
							        </thead>
							        <tbody>
								        <tr ng-repeat="selectedDay in daysOfTheWeek | orderBy:['day']:sortDescending">
								        	<div ng-if="isWorked(selectedDay)">
								        		<td>
								        		 	{{dayNames[selectedDay]}}
									            </td>
									            <td>
									            	<table class="table table-striped">
												        <thead>
													        <tr>
													        	<th></th>
												        		<th>Date</th>       
												        		<th>Time</th>
												        		<th>Client</th>
												        		<th>Staff</th> 
													        </tr>
												        </thead>
												        <tbody>
													        <tr  ng-repeat="problemShift in weeklyNotification.dailyShifts[selectedDay] | orderBy:[sortDailyIssueField,'time']:sortDescending">
													        	<div>
													        		 <td class="dropdown">
														                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
														                    <span class="glyphicon glyphicon-cog"></span>
														                </a>
														                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
														                    <li role="presentation"><a ng-click="fixSingleShift(problemShift)">fix issue</a></li>
														                </ul>
														            </td>
														            <td>
														            	{{problemShift.date}}
														            </td>
														            <td>
														            	{{problemShift.time}}
														            </td>
														            <td>
														            	{{problemShift.clientName}}
														            </td>
														            <td>
														            	{{problemShift.staffName}}
														            </td>
													            </div>
													        </tr>
												        </tbody>
												    </table>
									            </td>
								            </div>
								        </tr>
							        </tbody>
							    </table>
				            </td>
			            </div>
			        </tr>
		        </tbody>
		    </table>
  		    <script type="text/javascript" src="js/component/shiftIssueTable.js"></script>
		    <script type="text/javascript" src="js/modal/ShiftIssueModalController.js"></script>
	    </div>
    </div>

    <script type="text/javascript" src="js/page/dashboardPage.js"></script>
</div>