<div ng-if="manager" class="col-xs-12" ng-controller="EventsController"  ng-init="listEvents()">
	
	<h2>Events</h2>
	
	<span> [ sort by: </span>
		<select name="sortSelect" 
	    		id="sortSelect"
	      		ng-model="sortField"
	      		ng-value="{{sortField}}">
		    <option value='name'>Name</option>
		    <option value='startDate'>Start Date</option>
	    </select>
	    <a href="" ng-click="sortDescending=!sortDescending">
	        <span class="glyphicon" ng-class="{'glyphicon-chevron-up' : !sortDescending, 'glyphicon-chevron-down' : sortDescending}"></span>
	    </a>
	    <span> | </span>
	    <a href="" ng-click="addEvent()"><span class="glyphicon glyphicon-plus"></span>add an event</a>
    <span> ] </span>
    <table class="table table-striped">
        <thead>
	        <tr>
	        	<th></th>
	            <th>Event Name</th>
	            <th>Staff requested</th>
	            <th>Start Date</th>
	            <th>Start Time</th>            
	            <th>End Date</th>
	            <th>End Time</th>           
	        </tr>
        </thead>
        <tbody>
	        <tr ng-repeat="event in events | orderBy:sortField:sortDescending">
	        	<td class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                    <span class="glyphicon glyphicon-cog"></span>
	                </a>
	                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	                    <li role="presentation"><a ng-click="updateEvent(event)">edit</a></li>
	                    <li role="presentation"><a ng-click="deleteEvent(event)">delete</a></li>
	                </ul>
	            </td>
	            
	            <td>
	            	<div ng-if="multiTableEditing">
	                	<in-place-edit field-name='name' input-type='text' input-class='input-large' model=event>{{event.name}}</in-place-edit>
					</div>
					<div ng-if="!multiTableEditing">
						{{event.name}}
					</div>
	            </td>
	            <td>
		            <div ng-if="multiTableEditing">
		                <in-place-edit field-name='requestedStaff' input-type='text' input-class='input-large' model=event>{{event.requestedStaff}}</in-place-edit>
	            	</div>
					<div ng-if="!multiTableEditing">
						{{event.requestedStaff}}
					</div>
	            </td>
	            <td>
		            <div ng-if="multiTableEditing">
		                <in-place-edit field-name='startDate' input-type='text' input-class='input-large' model=event>{{event.startDate}}</in-place-edit>
	            	</div>
					<div ng-if="!multiTableEditing">
						{{event.startDate}}
					</div>
	            </td>
	            <td>
		            <div ng-if="multiTableEditing">
		                <in-place-edit field-name='startTime' input-type='text' input-class='input-large' model=event>{{event.startTime}}</in-place-edit>
		        	</div>
					<div ng-if="!multiTableEditing">
						{{event.startTime}}
					</div>
		        </td>
	            <td>
		            <div ng-if="multiTableEditing">
		                <in-place-edit field-name='endDate' input-type='text' input-class='input-large' model=event>{{event.endDate}}</in-place-edit>
	            	</div>
					<div ng-if="!multiTableEditing">
						{{event.endDate}}
					</div>
	            </td>
	            <td>
		            <div ng-if="multiTableEditing">
		                <in-place-edit field-name='endTime' input-type='text' input-class='input-large' model=event>{{event.endTime}}</in-place-edit>
	            	</div>
					<div ng-if="!multiTableEditing">
						{{event.endTime}}
					</div>
	            </td>            
	        </tr>
        </tbody>
    </table>
    
    <script type="text/javascript" src="js/page/eventPage.js"></script>
    <script type="text/javascript" src="js/modal/EventModalController.js"></script>
</div>
