<div class="col-xs-12">
	<h2>Change Log</h2>
	<div>
		Added Alternate Weekend Off Request violation notifications to the dashboard
		</br>
		Added Max Weekly Days violation notifications to the dashboard
		</br>
		Added Max Daily Shift violation notifications to the dashboard
		</br>
		Added Schedule Issues section to dashboard
		</br>
		Added detection of shifts that are outside assignment hours for shifts that aren't overnight. This is available in the dashboard under Shift Issues.
		</br>
		Added Creation Reason and Assignment Reason to Shift Lists
<!-- 		</br> -->
<!-- 		Added Shift Generated Field to single shift requests -->
		</br>
		The Dashboard now contains all upcoming shifts scheduled for employees that are called off over the duration. 
		</br>
		Added Dashboard for detecting and remediating schedule issues
		</br>
		Single and Recurring Shift Requests must now be of a valid length and require a selected employee when one is requested. An employee can still be requested in two places at once. 
		</br>
		Shifts must now be valid when manually created or edited. A client can still have two shifts at once.
		</br>
		Added year select to shift views.
		</br>
		Added view into all months for all pages
		</br>
		Added secondary sorting on Shifts and their requests which orders them by start time after ordering by the selected field.
		</br>
		Added Shift Calendar view
		</br>
		Added tooltips to shift assignment fields and some other locations.
		</br>
		Now available on iPhone and Android.
		</br>
		Upgraded sorting, improved default sorting, added additional sort fields, days now sort chronologically not alphabetically.
		</br>
		Added additional filters.
		</br>
		Shifts can now be created for months where shifts have already been generated.
		</br>
		Updated UI and pop-up windows with new field order and formating.
		</br>
		Disabled in table editing.
		</br>
		Added Settings page. Custom Fields now appear on their respective pages.
	</div>
	<h2>Known Bugs</h2>
	<div>
		Filter by year is broken
		</br>
		Shift requests are not removed from the system when deleting clients
		</br>
		Cannot display requests off if multiple of the same date are requests
		</br>
		Shift Calendar view does not work on mobile
		</br>
		Shift Calendar view may miss first week
		</br>
		Minimum hours are not always met.
		</br>
		Alternate weekend off requests are not always met.
	</div>
</div>
