<div class="col-xs-12">
	<h2>Change Log</h2>
	<div>
		Added secondary sorting on Shifts and their requests which orders them by start time after ordering by the selected field.
		</br>
		Added Shift Calendar view
		</br>
		Added tooltips to shift assignment fields and some other locations.
		</br>
		Now available on iPhone and Android.
		</br>
		Upgraded sorting, improved default sorting, added additional sort fields, days now sort chronologically not alphabetically.
		</br>
		Added additional filters.
		</br>
		Shifts can now be created for months where shifts have already been generated.
		</br>
		Updated UI and pop-up windows with new field order and formating.
		</br>
		Disabled in table editing.
		</br>
		Added Settings page. Custom Fields now appear on their respective pages.
	</div>
	<h2>Known Bugs</h2>
	<div>
		Shift Calendar view does not work on mobile
		</br>
		Minimum hours are not always met.
		</br>
		Alternate weekend off requests are not always met.
		
	</div>
</div>
